# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Ruby
*.gem
.bundle
vendor

# IDE
*.sublime-project
*.sublime-workspace
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Logs
log
*.log
