<!-- _includes/masthead.html -->
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          <li class="masthead__menu-item"><a href="#about-me">About</a></li>
          <li class="masthead__menu-item"><a href="#news">News</a></li>
          <li class="masthead__menu-item"><a href="#educations">Education</a></li>
          <li class="masthead__menu-item"><a href="#invited-talks">Talks</a></li>
          <li class="masthead__menu-item"><a href="#academic-services">Services</a></li>
          <li class="masthead__menu-item"><a href="#supervised-students">Students</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
